*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Roboto, Helvetica, Arial
    text-decoration: none
    list-style: none
    color: $main-font-color
    transition: .2s
    scroll-padding-top: 120px
    scroll-behavior: smooth

body
    background: linear-gradient(180deg, rgba(0,15,69,1) 0%, rgba(13,13,122,1) 50%, rgba(0,15,69,1) 100%)
    background-repeat: repeat
    background-size: cover
    width: 100%
    height: 200vh

