header
    background-color: $bg-color
    width: 75%
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    justify-content: space-between
    height: 60px
    padding: 10px 30px
    border-bottom-left-radius: $bg-border-radius
    border-bottom-right-radius: $bg-border-radius
    z-index: 2

    & img
        width: $logo-size
        &:hover
            cursor: pointer

    & .header-links
        display: flex
        align-items: center
        gap: 23px