header
    background-color: $bg-color
    width: 75%
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    justify-content: space-between
    height: 60px
    padding: 10px 30px
    border-bottom-left-radius: $bg-border-radius
    border-bottom-right-radius: $bg-border-radius
    z-index: 2

    & img
        width: $logo-size
        &:hover
            cursor: pointer

    & .header-links
        display: flex
        align-items: center
        gap: 6px
        font-size: $nav-links-font-size
        & a
            padding: 0 6px
            border-bottom: 2px solid #00000000
            border-bottom-left-radius: $link-border-radius
            border-bottom-right-radius: $link-border-radius
            &:hover
                color: $main-font-color-hover
                border-bottom: 2px solid $main-font-color-hover
        & .secondary-link
            color: $secondary-font-color
            font-size: $nav-links-font-size-sec
            &:hover
                color: $sec-font-color-hover
                border-bottom: 2px solid $sec-font-color-hover