#project
    height: $p-height
    width: 100%

    h1
        text-align: center
        margin-bottom: 20px
        font-size: $title-size
    #resume
        text-align: center
        max-width: 90%
        margin: 0 auto
        h4
            font-size: $subtitle-size
            margin: 20px
            margin-top: 50px
        p
            margin: 10px
        img
            width: 150px
            margin-bottom: 10px


.p-side-line
    position: absolute
    left:  20px
    width: 2px
    background: linear-gradient(180deg, rgba(109,100,255,1) 0%, rgba(61,61,255,1) 50%, rgba(64,83,153,1) 100%)
    height: $p-height

#content
    h2
        text-align: center
        margin: 30px 0 20px
    #images
        display: grid
        grid-template-areas:"h h h g g g" "h h h g g g" "a a b b c c" "d d b b e e"
        justify-content: center
        align-items: start
        padding: 20px
        gap: 40px
        margin-bottom: 20px
        img
            width: 100%
            background: linear-gradient(180deg, rgba(109,100,255,1) 0%, rgba(61,61,255,1) 50%, rgba(64,83,153,1) 100%)
            padding: 2px
        img:nth-child(1)
            grid-area: a
            justify-self: center
        img:nth-child(2)
            grid-area: c
            justify-self: center
        img:nth-child(3)
            grid-area: d
            justify-self: center
            align-self: end
        img:nth-child(4)
            grid-area: e
            justify-self: center
            align-self: end
    #video
        width: 480px
        margin: 0 auto
        background: linear-gradient(180deg, rgba(109,100,255,1) 0%, rgba(61,61,255,1) 50%, rgba(64,83,153,1) 100%)
        padding: 2px
        grid-area: b