* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial;
  text-decoration: none;
  list-style: none;
  color: #aaa;
  transition: 0.2s;
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, rgb(0, 15, 69) 0%, rgb(13, 13, 122) 50%, rgb(0, 15, 69) 100%);
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 200vh;
}

header {
  background-color: rgba(0, 0, 0, 0.8666666667);
  width: 75%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}
header img {
  width: 50px;
}
header img:hover {
  cursor: pointer;
}
header .header-links {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 17px;
}
header .header-links a {
  padding: 0 6px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .header-links a:hover {
  color: #ddd;
  border-bottom: 2px solid #ddd;
}
header .header-links .secondary-link {
  color: #666;
  font-size: 14px;
}
header .header-links .secondary-link:hover {
  color: #999;
  border-bottom: 2px solid #999;
}

section {
  background-color: rgba(0, 0, 0, 0.8666666667);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 35px;
  z-index: 1;
}

#project {
  height: 400vh;
  width: 100%;
}
#project h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
#project #resume {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
#project #resume h4 {
  font-size: 20px;
  margin: 20px;
  margin-top: 50px;
}
#project #resume p {
  margin: 10px;
}
#project #resume img {
  width: 150px;
  margin-bottom: 10px;
}

.p-side-line {
  position: absolute;
  left: 20px;
  width: 2px;
  background: linear-gradient(180deg, rgb(109, 100, 255) 0%, rgb(61, 61, 255) 50%, rgb(64, 83, 153) 100%);
  height: 400vh;
}

#content h2 {
  text-align: center;
  margin: 30px 0 20px;
}
#content #images {
  display: grid;
  grid-template-areas: "h h h g g g" "h h h g g g" "a a b b c c" "d d b b e e";
  justify-content: center;
  align-items: start;
  padding: 20px;
  gap: 40px;
  margin-bottom: 20px;
}
#content #images img {
  width: 100%;
  background: linear-gradient(180deg, rgb(109, 100, 255) 0%, rgb(61, 61, 255) 50%, rgb(64, 83, 153) 100%);
  padding: 2px;
}
#content #images img:nth-child(1) {
  grid-area: a;
  justify-self: center;
}
#content #images img:nth-child(2) {
  grid-area: c;
  justify-self: center;
}
#content #images img:nth-child(3) {
  grid-area: d;
  justify-self: center;
  align-self: end;
}
#content #images img:nth-child(4) {
  grid-area: e;
  justify-self: center;
  align-self: end;
}
#content #images img:nth-child(5) {
  grid-area: h;
  justify-self: center;
  align-self: end;
}
#content #images img:nth-child(6) {
  grid-area: g;
  justify-self: center;
  align-self: end;
}
#content #video {
  width: 480px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgb(109, 100, 255) 0%, rgb(61, 61, 255) 50%, rgb(64, 83, 153) 100%);
  padding: 2px;
  grid-area: b;
}

#about {
  max-width: 90%;
  margin: 0 auto;
}
#about h2 {
  text-align: center;
  margin-bottom: 15px;
}
#about p {
  text-align: center;
  margin-bottom: 15px;
}

#download {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
#download h2 {
  margin: 15px;
}
#download a {
  color: #367cf3;
  text-decoration: 1px underline dotted;
}

footer {
  width: 100%;
  height: 150px;
  background-color: rgba(85, 85, 85, 0.0666666667);
  position: relative;
  background: linear-gradient(180deg, rgb(0, 15, 69) 0%, rgb(13, 13, 122) 50%, rgb(0, 15, 69) 100%);
  bottom: 0px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
footer div {
  width: 50%;
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer div h5 {
  font-size: 16px;
  margin-bottom: 5px;
}
footer div a {
  margin: 0 10px;
}
footer div .bi {
  font-size: 20px;
}
footer nav {
  border-top: 1px solid #fff;
  padding-top: 5px;
  flex-basis: 100%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}
footer nav a:hover {
  color: #ddd;
}

/*# sourceMappingURL=style.css.map */
